{%extends 'base.html'%}
{% load bootstrap4 %} 
{% load static %}
{% block content %}

  
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> {% endblock %}

</head>

<style>
    #top{
       background-image: url('https://images.unsplash.com/photo-1512069511692-b82d787265cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=399&q=80');
       background-size: 78% 100%;
       background-repeat: no-repeat;
       height: 410px;
      }
    #form{
      border-style: ridge;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    #hh1{
      text-align: center;
      color: #13a456;
      font-family: 'FontAwesome';
      font-weight: bold;
      font-size: 40px; 
      
    }
    </style>
<body>

  <!--  -->
  <div class="container">  <div class="row">
     
    <div class="col-md-3">
        <img src="https://images.unsplash.com/photo-1512069511692-b82d787265cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=399&q=80" alt="img" style=" height: 60%;
        width: 190%; margin-left: 5px; margin-top: 30px;" ></div>
<div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 style="font-family: 'Source Code Pro', monospace; font-weight: bold; color: #18d26e; font-size: 40px; margin-top: 30px;">Render-vouz </h2>

        <div class="panel-body">
          {%if messages %}

          {%for message in messages%}
          <div class="alert alert-danger">
              {{message}}
          </div>
          {%endfor%}
          
          {%endif%}
          
          <form  action="{%url 'post'%}" method="post" >
            {% csrf_token%}
            {% bootstrap_form form layout='inline' %}
            
            <div class="form-group">
              
              <input type="submit" class="btn btn-success btn-lg" value="Make an Appointment">
      
            </div>
            
      
          </form>
         
        </div>
    </div>
   
    <div class="col-md-2"></div>
</div><br><br> 
</div>


   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>

{% endblock %}