{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content%}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-2">


            </div>
            <div class="col-md-8">
                <div class="card mt-5">
                
                    <div class="card-body">
                       
                        <a href="" class="btn btn-sm   btn-block btn-primary">Sign up to get medical care at your home</a>

                        <div class="row">
                            <div class="col-md-5">
                                <hr>
                            </div>
                               
                            <div class="col-md-5">
                                <hr>
                            </div>
                        </div>
{%if messages %}

{%for message in messages%}
<div class="alert alert-danger">
    {{message}}
</div>
{%endfor%}

{%endif%}



                        <form action="{% url 'register' %}" method="post">

                            {% csrf_token %}

                            <div class="form-group">
                                <input class="form-control form-control-sm" type="email" name="email"
                                    value="{{data.email}}" placeholder="Email">


                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-sm" type="text" name="name"
                                    value="{{data.name}}" placeholder="FullName">


                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-sm" type="text" name="username"
                                    value="{{data.username}}" placeholder="Username">


                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-sm" type="password" name="password" value=""
                                    placeholder="Password">


                            </div>

                            <div class="form-group">
                                <input class="form-control form-control-sm" type="password" name="password2" value=""
                                    placeholder="Confirm Password">


                            </div>

                            <input type="submit" value="Register" class="btn btn-sm btn-block btn-primary"/>
                            


                        </form>

<!--  -->




                    </div>
                </div>


                <div class="card mt-4">
                    <div class="card-body">
                        <p>
                            Already have an account?<a href="{%url 'login'%}">Login</a>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>






    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}